*{
    margin: 0;
    padding: 0;
  }

  .nleft{
    height: 350px;
    width: 100%;
    background-image: url(imagenes/coleccion5.jpg);
    background-size: cover;
    background-position: center;
}

.nright{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.nright p{
    margin-bottom: 20px;
}

.nright a{
    background-color: rgb(172, 188, 223);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}
.galeria{
    width: 100%;
    min-height: 600px;
    background-color: rgb(172, 188, 223);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
}
h1{
    background-color: rgb(252, 251, 253);
    text-align:center;
    height: 80px;
width: 100%;
}

.barra{
    float: right;
    font-size: 20px;
   
  } 
  .barra ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
  }
  
  .barra a:hover{
    color:black;
    text-decoration: underline;
background-color: rgb(253, 254, 255);
  }
.item{
    border: 2px solid #000;
    background-size: cover;
    background-position: center;
}

.item1{
    background-image: url(imagenes/coleccion.jpg);
}

.item2{
    background-image: url(imagenes/coleccion2.jpg);
}

.item3{
    background-image: url(imagenes/coleccion3.jpg);
}
.item4{
  background-image: url(imagenes/coleccion4.jpg);
}


@media only screen and (min-width:480px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 300px);
    }
    .nosotros{
        display: flex;
    }
    .nleft, .nright{
        width: 50%;
    }
}

@media only screen and (min-width:600px) and (max-width:767px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item1{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .item2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item4{
      grid-column: 2/3;
      grid-row: 2/3;
  }

}


@media only screen and (min-width:768px){

    .galeria{
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(2, 250px);
    }
    .item1{
        grid-column: 1/2;
        grid-row: 1/2;
        background-image: url(imagenes/coleccion.jpg);
    }
    
    .item2{
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(imagenes/coleccion2.jpg);
    }
    
    .item3{
        grid-column: 1/2;
        grid-row: 2/3;
        background-image: url(imagenes/coleccion3.jpg);
    }
    .item4{
      grid-column: 2/3;
      grid-row: 2/3;
      background-image: url(imagenes/coleccion4.jpg);
  }
}